<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Сальвадор Далі цікаві факти з життя</h1> 
        <hr> 
        <div style="align-items: center;">У дитинстві Далі був неприборканим і примхливим хлопчиною. Своїм норовом він домагався буквально усього, що могла побажати маленька дитина. Коли Сальвадору виповнилося 7 років, батько був змушений силою тягти його в школу. Малий влаштував такий скандал, що всі вуличні торговці збіглися на крики. Мало того, що за перший рік навчання маленький Далі нічого не навчився — він забув навіть алфавіт. Сальвадор вважав винним пана Траітера, який згадується в його біографії «Таємне життя Сальвадора Далі, розказане їм самим».
            Вступаючи до Академії мистецтв, Сальвадор мав скласти іспит з живопису. На все давалося 6 днів: за цей час Далі мав виконати малюнок античної моделі на весь аркуш. На третій день екзаменатор зазначив, що його малюнок занадто маленький, і через це він не зможе стати учнем Академії. Сальвадор стер малюнок і в останній день іспиту представив новий ідеальний варіант моделі, тільки він виявився ще менше ніж був перший. Попри порушення правил, журі прийняло його роботу, тому що вона була дійсно досконалою. До речі, найвідоміша картина художника «Сталість пам'яті» також невелика: 24 × 33 сантиметрів.
            Натхнення Далі знаходив не лише в роботах інших художників: відомо, наприклад, про його захоплення ідеями Зигмунда Фрейда. Свої філософські роздуми та ідеї художник передавав світу не лише через образотворче мистецтво. Далі встиг спробувати себе в кінематографі: «оживити» на кіноекрані сни героїв трилера «Заворожений» довірив відомому сюрреалісту режисер стрічки Альфред Хічкок. Ще один великий голлівудський діяч того часу, Уолт Дісней, зблизився з Далі після спільної роботи над проектом «Destino». Хоча мультфільм світ побачив лише у 2003 році, Уолт Дісней і Сальвадор Далі стали друзями.
            У 1930 році, після того як батько Сальвадора Далі прокляв свого сина і виставив його з дому за зухвалі витівки, молодий художник купив собі рибальський будиночок в Порт-Лігат на іспанському узбережжі Коста-Брава. Сальвадор придбав його за 20 тисяч франків, отриманих авансом за картину «Старість Вільгельма Телля», яка була повністю написана роком пізніше. Згодом Далі неодноразово реконструював і розширював своє володіння, викуповуючи сусідні ділянки та будинки.
            Знаковою подією в житті Сальвадора стала зустріч з Галой Елюар (Олена Іванівна Дяконова), яка на той момент була дружиною французького поета Поля Елюара. Пізніше Гала стала музою, помічницею, коханкою, а потім і дружиною Сальвадора.
            У 1968 році Далі купив для своєї дружини Гали замок в селі Пуболь, в якому, починаючи з 1971 року, вона жила окремо від чоловіка. Сальвадор відвідував дружину в цьому замку лише після її письмового дозволу. Після смерті Гали в 1982 році Далі змарнів: він переживав глибоку депресію, а всі його божевільні забави пішли назавжди. Він майже перестав писати картини та виходити у світ, але, всупереч цьому, його популярність продовжувала зростати.
        </div>
</body>

</html>